body {
	background-color: #EEE;
}

.form-login
{
	margin-top: 5em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	width: 31em;
}

.form-login h1
{
	color: white;
	font-size: 16px;
	font-weight: bold;
	background: -moz-linear-gradient(#6E8491, #405A6A);
	background: -webkit-linear-gradient(rgba(13, 15, 15, 0.28), #405A6A);
	border: 1px solid #405A6A;
	border-bottom-color: #6B808D;
	border-radius: 3px 3px 0 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
	padding: 8px 18px;
	margin: 0;
}

.form-login .formbody
{
	padding: 2em;
	background-color: #EDEFF0;
	overflow: hidden;
	border-style: solid;
	border-width: 1px 1px 2px;
	border-color: #E9F1F4 #D8DEE2 #D8DEE2;
	border-radius: 0 0 3px 3px;
}

.form-login input[type=text], .form-login input[type=password]
{
	width: 26em;
}

.alert
{
	width: 27.5em;	
	margin: 0 auto;
}

.alert li
{
	list-style-type: none;
}

.remember
{
	display: inline-block;
	vertical-align: top;
	margin: 6px 0 0;
}

.remember-label
{
	font-weight: normal;
	color: #666;
	line-height: 0;
	padding: 0 0 0 .4em;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

label.remember input[type="checkbox"]
{
	margin-top: -5px;
	margin-left: 20px;
}

.navbar.navbar-fixed-bottom.navbar-inverse p
{
	margin-top: 10px;
}